.example-card {
    max-width: 500px;
    margin-bottom: 8px;
  }

.mat-elevation-z4{
    padding-left: 20px;
    padding-bottom: 20px;
}



.cd{
    padding-left:30px
}

table {
    width: 100%;
  }

.heading1{
    background-color: #3f51b5;
    color: #fff;
    padding-left: 20px;
}

.fieldcolor{
    color: #fff
}

.val{
    color: #18a399;
    opacity: 1;
    padding-top:30px
}

.cardcheckbox {
    opacity: 0;
}

.cardcheckbox:hover,
.cardcheckbox:checked {
    opacity: 1;
}

mat-form-field {
    color:white;
    padding-left:25px
}

.mat-card-title{
    padding-top:20px;
    padding-left: 20px;
}

.example-section{
    padding-top: 20px;
    padding-left: 20px;
}

.color1{
    background-color: #18a399;
    color:white;
    padding: 20px;
}

.mat-datepicker-button {
    display: none;
  }


  .example-container {
    height: 400px;
    max-width: 100%;
    overflow: auto;
  }

.menu1{
    padding-left: 10px;
}

.imgSize{
    width: 50px;
    height: 50px;
}

.alignitem{
    justify-items: center;
    padding:20px
}